.dashboard-area {
	padding: 60px 0;
	background-color: ghostwhite;
}
.sidebar-area {
	background: #fff;
	box-shadow: 0 4px 20px rgba(0,0,0,.1);
	border-radius: 10px;
	height: 100%;
}
.welcome-title {
	padding-bottom: 40px;
}
.welcome-title h2 {
	font-size: 40px;
}
.banner-area.tutor-area .row {
	align-items: center;
}
.sidebar-area img {
    margin-top: 20px;
    max-width: 90px;
    border: 2px dotted #000;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.sidebar-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    height: 60vh;
    text-align: center;
    background: ghostwhite;
    margin-top: 26px;
}
.sidebar-menu a {
    margin: 2px 0;
    padding: 13px 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    width: 100%;
    background: -webkit-linear-gradient(left, #da8cff, #9a55ff);
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #FFF;
    border-left: 6px solid #000;
}
.dashboard-right-area {
	background: #fff;
	box-shadow: 0 4px 20px rgba(0,0,0,.1);
	border-radius: 10px;
	position: relative;
	padding: 20px;
}
.sidebar-area h2 {
	font-size: 19px;
	color: #646464 !important;
	padding-top: 10px;
}
.dashboad a {
	font-size: 16px;
	color: #FFF;
	text-decoration: navajowhite;
	margin-right: 20px;
}
.table img {
	max-width: 120px;
}
.welcome-title h2 strong {
    color: #A05AFF;
}
.order-form.container h2 {
    margin-bottom: 20px;
}