.login-form-area {
	max-width: 490px;
	margin: auto;
	margin-top: 90px;
	margin-bottom: 90px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 30px 30px;
}
.login-form-area form input {
	width: 100%;
	margin-bottom: 15px;
	height: 48px;
	padding: 0 15px;
	border: 1px solid #0b114a;
	border-radius: 6px;
}
.login-form-area .submit-button {
	background: #0b114a;
	width: 100% !important;
}
.sign-button {
	height: 48px;
	width: 100%;
	background: transparent;
	border: 1px solid #0b114a;
	border-radius: 6px;
	font-size: 19px;
	font-weight: 400;
}
.sign-button i {
	margin-right: 6px;
}
.admin-form-area {
	padding: 40px 0;
}
.admin-form-area form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.admin-form-area input {
    width: 100%;
    height: 50px;
    border: 1px solid #18191F;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 16px;
    outline: none !important;
    font-family: 'Poppins', sans-serif;
    max-width: 440px;
    margin: auto;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, #da8cff, #9a55ff);
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #FFF;
    cursor: pointer;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-bottom: 1px solid #a35cff;
    vertical-align: middle;
}